from-zero.emeraldlake.io {
  tls /etc/caddy/tls/origin.pem /etc/caddy/tls/origin.key

  encode zstd gzip
  reverse_proxy 127.0.0.1:3717

  request_body {
    max_size 5MB
  }

  log {
    output file /var/log/caddy/from-zero.log {
      roll_size 10mb
      roll_keep 5
    }
    format console
  }
}
